 #container {
     display: flex;
     justify-content: space-around;
     width: 90%;
     margin: auto;
     row-gap: 10px;

 }

 #container>div {
     /* height:600px;  */
     width: 600px;
     border: 1px solid transparent;
     margin: 10px auto;
     background-color: white;
     text-align: center;
     border-radius: 10px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 #container>div:hover {
     border: 1px solid rgb(131, 131, 210);
 }

 #container>div>img {
     height: 200px;
     width: 40%;
     margin-top: 100px;
     margin-bottom: 50px;
 }

 h1 {
     font-size: 30px;
     text-align: center;
 }

 p {
     color: black;
     line-height: 20px;
     width: 80%;
     margin: auto;
     text-align: center;
     font-size: 18px;
 }

 .ramesh {
     height: 45px;
     width: 50%;
     margin-top: 20px;
     margin-block: 5px;
     color: white;
     background-color: blue;
     border-radius: 10px;
     font-size: 20px;
     border: none;
     margin-bottom: 20px;


 }

 .ramesh:hover {
     border: double;
 }

 * {
     font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
 }

 #header {
     display: flex;
     width: 95%;
     height: 50px;
     background-color: white;
     padding-bottom: 10px;
     /* border: 1px solid; */
     /* position: fixed; */
font-weight: bold;
     margin: auto;
     align-content: center;
 }

 #header>div {
     display: flex;
     justify-content: space-around;
 }

 #header>div:first-child {
     width: 15%;
     margin: auto;
 }

 img {
     height: 50px;
     margin-top: 5px;
     /* width: 10%; */
 }

 #header>.nav {
     /* height: 200px; */
     width: 90%;
     /* height: 20px; */
     display: flex;

     justify-content: space-between;
     margin: auto;
     align-content: center;
 }

 #header ul {
     padding-left: 0px;

     text-align: center;
     display: flex;
     list-style: none;
 }

 ul>li {
     font-size: small;
     padding: 10px 20px;
     font-family: Arial, Helvetica, sans-serif;
 }

 ul>li>a {
     color: black;
     text-decoration: none;
 }

 #header ul>li:hover {
     border-bottom: 3px solid #2557a7;
     background-color: rgb(246, 246, 246);
     border-radius: 5px;
 }

 hr {
     /* margin-top: 20px; */
     background-color: #949494;
 }

 .li,
 .employ {
     margin-top: 5px;
     margin-left: -10px;
 }

 .material-symbols-outlined:hover {
     cursor: pointer;
 }

 footer {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }

 footer>p {
     text-align: center;
     font-size: 14px;
     padding-top: 30px;
     padding-bottom: 20px;
 }

 footer>ul {
     display: flex;
     list-style: none;
     /* width: 80%; */
     padding-bottom: 10px;
 }

 #lastline {
     text-align: center;
 }

 #lastline>button {
     border-radius: 5px;
     border: none;
     margin-top: 5px;
     margin-right: 10px;
     margin-bottom: -5px;
     background-color: #2557a7;
     color: white;
     padding: 10px;
 }

 #lastline>button:hover {
     cursor: pointer;
     background-color: #16376d;
 }

 .dropbtn {
     background-color: transparent;
     color: black;
     padding: 0px;
     /* font-size: 16px; */
     border: none;
     cursor: pointer;
 }


 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: flex;

 }

 .dropdown a:hover {
     background-color: #ddd;
 }

 .show {
     display: block;
 }